{% extends 'cms/base.html' %}

{% block title %}
论坛首页
{% endblock %}

{% block head %}
        <script src="https://code.highcharts.com.cn/highcharts/highcharts.js"></script>
        <script src="https://code.highcharts.com.cn/highcharts/modules/exporting.js"></script>
        <script src="https://code.highcharts.com.cn/highcharts/modules/oldie.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/modules/variwide.js"></script>
        <script src="https://code.highcharts.com.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
        <script src="https://code.highcharts.com.cn/highcharts/themes/grid-light.js"></script>

    <style>
        #test1{

            {#display: inline-block;#}
        }

    {##test2{#}
    {##}
    {#    height: 200px;#}
    {#    width: 600px;#}
    {#    display: inline-block;#}
    {##}
    {#}#}
    {##}
    {##test3{#}
    {#    #}
    {#}#}

    </style>
{% endblock %}

{% block page_title %}
1902论坛管理系统,基于大数据分析
{% endblock %}

{% block main_content %}
    welcome

    <div id="test1">

        <div id="container" style="min-width:200px;height:200px"></div>

        <script>
            var chart = Highcharts.chart('container', {
    chart: {
        type: 'line'
    },
    title: {
        text: '访问量'
    },
    subtitle: {
        text: '数据来源: WorldClimate.com'
    },
    xAxis: {
        categories: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月']
    },
    yAxis: {
        title: {
            text: 'pv'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                // 开启数据标签
                enabled: true
            },
            // 关闭鼠标跟踪，对应的提示框、点击事件会失效
            enableMouseTracking: false
        }
    },
    series: [{
        name: '东京',
        data: [7.0, 6.9, 9.5, 14.5, 18.4, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
    }, {
        name: '伦敦',
        data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
    }]
});
        </script>
    </div>


{#    <div id="test2">#}
{##}
{#        <div id="container1"></div>#}
{#        <script>#}
{#            // JS 代码#}
{##}
{#            Highcharts.chart('container1', {#}
{#    chart: {#}
{#        type: 'variwide' // varwide 依赖 varwide.js#}
{#    },#}
{#    title: {#}
{#        text: '访问区域'#}
{#    },#}
{#    subtitle: {#}
{#        text: '数据来源：<a href="http://ec.europa.eu/eurostat/web/' +#}
{#        'labour-market/labour-costs/main-tables">eurostat</a>'#}
{#    },#}
{#    xAxis: {#}
{#        type: 'category',#}
{#        title: {#}
{#            text: '* 柱子宽度与 GDP 成正比'#}
{#        }#}
{#    },#}
{#    legend: {#}
{#        enabled: false#}
{#    },#}
{#    series: [{#}
{#        name: '人工成本',#}
{#        data: [#}
{#            ['挪威', 50.2, 335504],#}
{#            ['丹麦', 42, 277339],#}
{#            ['比利时', 39.2, 421611],#}
{#            ['瑞典', 38, 462057],#}
{#            ['法国', 35.6, 2228857],#}
{#            ['荷兰', 34.3, 702641],#}
{#            ['芬兰', 33.2, 215615],#}
{#            ['德国', 33.0, 3144050],#}
{#            ['奥地利', 32.7, 349344],#}
{#            ['爱尔兰', 30.4, 275567],#}
{#            ['意大利', 27.8, 1672438],#}
{#            ['英国', 26.7, 2366911],#}
{#            ['西班牙', 21.3, 1113851],#}
{#            ['希腊', 14.2, 175887],#}
{#            ['葡萄牙', 13.7, 184933],#}
{#            ['捷克共和国', 10.2, 176564],#}
{#            ['波兰', 8.6, 424269],#}
{#            ['罗马尼亚', 5.5, 169578]#}
{#        ],#}
{#        dataLabels: {#}
{#            enabled: true,#}
{#            format: '€{point.y:.0f}'#}
{#        },#}
{#        tooltip: {#}
{#            pointFormat: '人工成本： <b>€ {point.y}/h</b><br>' +#}
{#            'GDP: <b>€ {point.z} 百万</b><br>'#}
{#        },#}
{#        colorByPoint: true#}
{#    }]#}
{#});#}
{#        </script>#}
{#    </div>#}



    <div id="test3">

        <div id="container3" ></div>
        <script>

            Highcharts.chart('container3', {
		chart: {
				plotBackgroundColor: null,
				plotBorderWidth: null,
				plotShadow: false,
				type: 'pie'
		},
		title: {
				text: '浏览器客户端占比'
		},
		tooltip: {
				pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
		},
		plotOptions: {
				pie: {
						allowPointSelect: true,
						cursor: 'pointer',
						dataLabels: {
								enabled: true,
								format: '<b>{point.name}</b>: {point.percentage:.1f} %',
								style: {
										color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
								}
						}
				}
		},
		series: [{
				name: 'Brands',
				colorByPoint: true,
				data: [{
						name: 'Chrome',
						y: 61.41,
						sliced: true,
						selected: true
				}, {
						name: 'Internet Explorer',
						y: 11.84
				}, {
						name: 'Firefox',
						y: 10.85
				}, {
						name: 'Edge',
						y: 4.67
				}, {
						name: 'Safari',
						y: 4.18
				}, {
						name: 'Sogou Explorer',
						y: 1.64
				}, {
						name: 'Opera',
						y: 1.6
				}, {
						name: 'QQ',
						y: 1.2
				}, {
						name: 'Other',
						y: 2.61
				}]
		}]
});
        </script>

    </div>





{#    <div id="container5" style="width: 550px; height: 400px; margin: 0 auto">#}
{##}
{##}
{#    </div>#}
{#    <script language="JavaScript">#}
{#    $(document).ready(function() {#}
{#   var colors = Highcharts.getOptions().colors;#}
{#   var categories = ['MSIE', 'Firefox', 'Chrome', 'Safari', 'Opera'];#}
{#   var data = [{#}
{#            y: 55.11,#}
{#            color: colors[0],#}
{#            drilldown: {#}
{#                name: 'MSIE versions',#}
{#                categories: ['MSIE 6.0', 'MSIE 7.0', 'MSIE 8.0', 'MSIE 9.0'],#}
{#                data: [10.85, 7.35, 33.06, 2.81],#}
{#                color: colors[0]#}
{#            }#}
{#        }, {#}
{#            y: 21.63,#}
{#            color: colors[1],#}
{#            drilldown: {#}
{#                name: 'Firefox versions',#}
{#                categories: ['Firefox 2.0', 'Firefox 3.0', 'Firefox 3.5', 'Firefox 3.6', 'Firefox 4.0'],#}
{#                data: [0.20, 0.83, 1.58, 13.12, 5.43],#}
{#                color: colors[1]#}
{#            }#}
{#        }, {#}
{#            y: 11.94,#}
{#            color: colors[2],#}
{#            drilldown: {#}
{#                name: 'Chrome versions',#}
{#                categories: ['Chrome 5.0', 'Chrome 6.0', 'Chrome 7.0', 'Chrome 8.0', 'Chrome 9.0',#}
{#                    'Chrome 10.0', 'Chrome 11.0', 'Chrome 12.0'],#}
{#                data: [0.12, 0.19, 0.12, 0.36, 0.32, 9.91, 0.50, 0.22],#}
{#                color: colors[2]#}
{#            }#}
{#        }, {#}
{#            y: 7.15,#}
{#            color: colors[3],#}
{#            drilldown: {#}
{#                name: 'Safari versions',#}
{#                categories: ['Safari 5.0', 'Safari 4.0', 'Safari Win 5.0', 'Safari 4.1', 'Safari/Maxthon',#}
{#                    'Safari 3.1', 'Safari 4.1'],#}
{#                data: [4.55, 1.42, 0.23, 0.21, 0.20, 0.19, 0.14],#}
{#                color: colors[3]#}
{#            }#}
{#        }, {#}
{#            y: 2.14,#}
{#            color: colors[4],#}
{#            drilldown: {#}
{#                name: 'Opera versions',#}
{#                categories: ['Opera 9.x', 'Opera 10.x', 'Opera 11.x'],#}
{#                data: [ 0.12, 0.37, 1.65],#}
{#                color: colors[4]#}
{#            }#}
{#        }];#}
{#   var browserData = [];#}
{#   var versionsData = [];#}
{#   var i, j;#}
{#   var dataLen = data.length;#}
{#   var drillDataLen;#}
{#   var brightness;#}
{##}
{##}
{#   // Build the data arrays#}
{#   for (i = 0; i < dataLen; i += 1) {#}
{#      // add browser data#}
{#      browserData.push({#}
{#         name: categories[i],#}
{#         y: data[i].y,#}
{#         color: data[i].color#}
{#      });#}
{##}
{#      // add version data#}
{#      drillDataLen = data[i].drilldown.data.length;#}
{#      for (j = 0; j < drillDataLen; j += 1) {#}
{#         brightness = 0.2 - (j / drillDataLen) / 5;#}
{#         versionsData.push({#}
{#            name: data[i].drilldown.categories[j],#}
{#            y: data[i].drilldown.data[j],#}
{#            color: Highcharts.Color(data[i].color).brighten(brightness).get()#}
{#         });#}
{#      }#}
{#   }#}
{##}
{#   var chart = {#}
{#      type: pie#}
{#   };#}
{#   var title = {#}
{#      text: 'Browser market share, April, 2011'#}
{#   };#}
{#   var yAxis = {#}
{#      title: {#}
{#         text: 'Total percent market share'#}
{#      }#}
{#   };#}
{#   var tooltip = {#}
{#      valueSuffix: '%'#}
{#   };#}
{#   var plotOptions = {#}
{#      pie: {#}
{#         shadow: false,#}
{#         center: ['50%', '50%']#}
{#      }#}
{#   };#}
{#   var series= [{#}
{#      name: 'Browsers',#}
{#            data: browserData,#}
{#            size: '60%',#}
{#            dataLabels: {#}
{#                formatter: function () {#}
{#                    return this.y > 5 ? this.point.name : null;#}
{#                },#}
{#                color: 'white',#}
{#                distance: -30#}
{#            }#}
{#        }, {#}
{#            name: 'Versions',#}
{#            data: versionsData,#}
{#            size: '80%',#}
{#            innerSize: '60%',#}
{#            dataLabels: {#}
{#                formatter: function () {#}
{#                    // display only if larger than 1#}
{#                    return this.y > 1 ? '' + this.point.name + ': ' + this.y + '%'  : null;#}
{#                }#}
{#            }#}
{#        }#}
{#   ];#}
{##}
{#   var json = {};#}
{#   json.chart = chart;#}
{#   json.title = title;#}
{#   json.yAxis = yAxis;#}
{#   json.tooltip = tooltip;#}
{#   json.series = series;#}
{#   json.plotOptions = plotOptions;#}
{#   $('#container5').highcharts(json);#}
{#});#}
{#</script>#}



{% endblock %}
